// Typography
$base-fs: 1.6rem;
$ff-base: 'Inter', sans-serif;

$fw-bold: 700;
$fw-semibold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

//Colors
$clr-black: #000;
$clr-white: #eae8e8;

$clr-primary-400: #263240;
$clr-primary-500: #1a2634;
$clr-secondary-400: #20e08a;

$clr-neutral-100: $clr-white;
$clr-neutral-200: #fbfbfb;
$clr-neutral-400: #8f949e;
$clr-neutral-500: #515863;
$clr-neutral-1000: $clr-black;
