// Typography
$base-fs: 1.6rem;
$ff-base: 'Inter', sans-serif;

$fw-bold: 700;
$fw-semibold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

//Colors
$clr-black: #000;
$clr-white: #fff;

$clr-primary-400: #263240;
$clr-primary-500: #1A2634;
$clr-secondary-400: #20E08A;

$clr-neutral-100: $clr-white;
$clr-neutral-1000: $clr-black;